@model IEnumerable<Models.Main.News>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <h4> @item.title</h4>
            <p>@Html.Raw(item.content)</p>
        </li>
    }
</ul>
